@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

// variables
$main-color:#443;
$border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
$border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
$border: .2rem solid $main-color;
$border-hover: .2rem dashed $main-color;
$box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;



}

section{
    padding:2rem 9%;
}
.btn{
    padding: .9rem 1.5rem;
    border-radius: $border-radius;
    display: inline-block;
    color: $main-color;
    background: none;
    border: $border;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    &:hover{
        border-radius: $border-radius-hover;
        border: $border-hover;
    }

}
.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem $main-color;
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;

}

@media (max-width:768px) {
    .heading{
        font-size: 6rem ;
        span{
            font-size: 2.2rem;
        }
    }
}