@import './config';


.header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #fff;
    box-shadow: $box-shadow;
    padding: 2rem 9%;
    .logo{
        color: $main-color;
        font-size: 2.3rem;
        i{
            padding-left: .5rem;
        }
    }
    .navbar{
        a{
            margin: 0 1rem;
            font-size: 1.7rem;
            color: $main-color;
        }
    }
    .btn{
        margin-top: 0;

    }

}

#menu-btn{
    font-size: 3rem;
    color: $main-color;
    cursor: pointer;
    display: none;
}



@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}


@media(max-width:768px){
    #menu-btn{
        display: initial;
        &.fa-time{
            transform: rotate(180deg);
        }
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header{
        .navbar{
            position: absolute;
            top:99%;
            left: 0;
            right: 0;
            background: #fff;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            a{
                display: block;
                font-size: 2.2rem;
                margin: 0;
                padding: 1.5rem 2rem;
            }
        }
    }
    .header{
        .navbar.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }


} 